<h1 mat-dialog-title>Saving data</h1>
<div mat-dialog-content>
  <p class="mat-body-1">
    Scan data successfully saved to Mongo. What about Firebase?
  </p>
  <p class="mat-body-1">
    FireStore upload 
    <span *ngIf="data.firestore.success">
        <i class="material-icons">done</i>
    </span>
    <span *ngIf="data.firestore.success !== null && !data.firestore.success">
        <i class="material-icons">error</i>
    </span>
    <span *ngIf="data.firestore.loading">
        <app-spinner></app-spinner>
    </span>
  </p>
  <p class="mat-body-1">
    FireStorage upload 
    <span *ngIf="data.firestorage.success">
        <i class="material-icons">done</i>
    </span>
    <span *ngIf="data.firestorage.success !== null && !data.firestorage.success">
        <i class="material-icons">error</i>
    </span>
    <span *ngIf="data.firestorage.loading">
        <app-spinner></app-spinner>
    </span>
  </p>
</div>
<div mat-dialog-footer>
  <p class="mat-body-1">What to do next?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Scan again</button>
  <button mat-button (click)="goToCollection()">View collection</button>
</div>