<div class="mat-display-1" style="text-align: center">
    What we do
</div>

<div style="text-align: center">
    <img class="img-responsive" src="assets/images/SDK-and-WEB-API.png">
</div>

<div class="mat-body-1 home-text">
    Microblink is an R&D company developing proprietary computer vision technology optimized 
    for realtime processing on mobile devices. Advanced neural networks and deep learning 
    techniques are used to process the fastest and the most accurate text recognition locally 
    on a mobile device. Therefore, we offer a variety of products as mobile SDK (software 
    development kit) or WEB API tailored for specific use-cases.
</div>

<div class="mat-body-1 home-text">
    We aim to completely eliminate the need for manual data entry on mobile devices, 
    thus improving user experience and engagement.
</div>
