<div class="wrapper">
    <mat-nav-list>
        <mat-list-item>
            <a routerLink="home" class="nav-link" routerLinkActive="active">Home</a>
        </mat-list-item>
        <mat-list-item>
            <a routerLink="scan" class="nav-link" routerLinkActive="active">Scan ID</a>
        </mat-list-item>
        <mat-list-item>
            <a routerLink="collection" class="nav-link" routerLinkActive="active">Scan Collection</a>
        </mat-list-item>
    </mat-nav-list>
    
    <mat-divider></mat-divider>
    
    <div class="content" role="main">
        <router-outlet></router-outlet>
    </div>
</div>